
<div class="wrapper">
<p>$hero.getName()</p>
<p>$hero.getAge</p>
<p>$hero.getPower</p>
<p>$hero.getWeakness()</p>
</div>
<button class="btn btn-info btn-lg"><a href="/heroes/new">Add another hero</a></button>
<button class="btn btn-info btn-lg"><a href="/heroes">All Heroes</a></button>
