<div class="container" >


<div class='well'>

    <h1>HEROES ASSEMBLE!</h1>


    <button class="btn btn-info"><a href="/squads" >View your Squad</a></button>


   <button class="btn btn-info "><a href="/squads/new" class="btn btn-outline-peach" >Assemble your Squad</a></button>



</div>
</div>