<div class="container" >


<div class='well'>

    <h1>HEROES ASSEMBLE!</h1>


    <a href="/squad" class="btn btn-outline-peach">View your Squad</a>


    <a href="/squads/new" class="btn btn-outline-peach" >Assemble your Squad</a>



</div>
</div>