<!DOCTYPE html>
<html>
<head>
    <title>Hero Squad !</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
    <link rel='stylesheet' href='/app.css'>

</head>
<body>


<div class="filler one"></div>
<nav id="navbar">

</nav>

<div class="container">
    #parse( $template )
</div>
</body>
</html>
