<div id="success" class="well"><h1 class="heading">Success on adding a new Squad !</h1>
<div class="squadBtn">
<button class="btn btn-info text-white "><a href="/squads">View All the Squads</a></button>
</div>
</div>