<h1>Here's your list of squad!</h1>
        #if($squads)
<ul>
#foreach ($squad in $squads)
<li><a href="/squads/$squad.getId()">$squad.getName()</a></li>
#end
</ul>
        #else
<h3>No Squads created yet!</h3>
        #end
<button class="btn btn-info"><a href="/squads/new">Add a New Squad of you Choice</a></button>